build/
install/
log/
src/examples/
**/build/
**/install/
**/log/
**/.vscode/
venv/
**/venv/
**/.yolo_venv/
.env
**/.env
**/gnss/bag_data/
**/gnss/gps_data/archive/
**/gnss/imu_data/archive
**/__pycache__/
**/yolov8s.pt